body {
    font-family: 'Arial';
    background-color: #8BBEB2;
    margin: 0;
    padding: 0;
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

header {
    background-color: #031926;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px 0;
    text-align: center;
}

h1 {
    font-size: 30px;
    margin: 3px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav button {
    background-color: #411306;
    height: 35px;
    width: 150px;
    margin: 0 5px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

nav a {
    text-decoration: none;
    font-size: 15px;
    color: white;
}

nav button:hover {
    background-color: #76321f;
    transition: 0.5s ease;
    padding: 5px 10px;
    border-radius: 5px;
}

main {
    display: grid;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 0;  
}

section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/Imagenes/bagraund.webp') no-repeat center center;
    background-size: cover;
    color: white;
    margin: 5px;
    text-align: center;
    height: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bienvenidos h2 {
    font-size: 50px;
}

.parrafo {
    font-size: 20px;
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

.login button {
    background-color: #411306;
    height: 30px;
    width: 120px;
    margin: 20px 0;
}

.login button:hover {
    background-color: #77ACA2;
    transition: 0.5s ease;
    color: #031926; 
    padding: 5px 10px;
    border-radius: 5px;
}

.login a {
    font-size: 30px;
    color: white;
    text-decoration: none;
}

footer {
    background-color: #031926;
    color: white;
    text-align: center;
    font-size: 15px;
    display: flex;
    justify-content: center;    
}

footer p {
    margin-top: 8px;
}

/* Media query para pantallas medianas */
@media (max-width: 550px) {
    header {
        flex-direction: column;
        padding: 10px 0;
    }

    header h1{
        font-size: 23px;
        align-items: center;
    }

    nav {
        flex-direction: row;
        align-items: justify;
        margin: 5px 0;
    }

    nav button {
        width: auto;
        margin: 5px 5px;
    }

    nav a {
        font-size: 12px;
    }

    .bienvenidos h2 {
        font-size: 30px;
    }

    .parrafo {
        font-size: 16px;
        width: 90%;
        text-align: justify;
    }

    footer {
        font-size: 10px;
    }
}

