:root {
  --bg-color: #0a3a40;
  --text-color: #ffffff;
  --accent-color: #021b1d;
  --highlight: #0a272a;
  --highlight2: #182020;
  --primary: #107361;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Asegurar que el body ocupe toda la altura de la pantalla */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Altura mínima igual a la altura de la ventana */
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* El main debe ocupar el espacio restante entre el header y el footer */
main {
    flex: 1; /* Ocupa el espacio restante */    
    display: flex;
    flex-direction: column; /* Cambiar a diseño en columna */
    justify-content: center; /* Centrar contenido verticalmente */
    align-items: center; /* Centrar contenido horizontalmente */
    width: 100%;
    overflow: hidden; /* Evitar el desbordamiento */
    position: relative; /* Para el overlay */
    z-index: 0; /* Asegura que el main esté detrás del header y footer */
    padding: 0 1rem; /* Espacio lateral */
    background-color: var(--bg-color); /* Color de fondo */

}

/* Estilos para el header */
header {
  display: flex;
  justify-content: space-between; /* Espaciado entre los elementos */
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--accent-color);
  border-bottom: 1px solid var(--highlight);
  position: relative; /* Para posicionar el botón y el slider */
}

/* Centrar el h1 */
header h1 {
  flex: 1; /* Ocupa el espacio restante */
  text-align: center; /* Centra el texto */
  font-size: 1.8rem;
  color: white;
}

/* Estilos para el botón del menú */
.menu-button {
  background-color: #031926; /* Color de fondo */
  color: white; /* Color del ícono */
  border: none; /* Sin bordes */
  border-radius: 50%; /* Forma circular */
  width: 50px; /* Ancho del botón */
  height: 50px; /* Alto del botón */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; /* Cambiar el cursor al pasar por encima */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Transiciones */
  position: relative; /* Mantener su posición relativa */
  z-index: 1001; /* Asegurar que esté por encima del slider */
}

.menu-button:hover {
  background-color: #8bbeb2; /* Color de fondo al pasar el mouse */
  color: #031926; /* Cambiar el color del ícono */
  transform: scale(1.1); /* Efecto de zoom */
  transition: transform 0.2s ease; /* Transición suave */
}

.menu-button:active {
  transform: scale(0.95); /* Efecto al hacer clic */
}

/* Estilos para el botón de cerrar el menú lateral */
.close-sidebar {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: color 0.3s ease;
}

close-sidebar:hover {
  color: #8bbeb2; /* Cambiar color al pasar el mouse */
}

/* Ajustar el slider */
.sidebar {
  position: fixed;
  top: 0;
  right: -250px; /* Cambiar al lado derecho */
  width: 250px;
  height: 100%;
  background-color: var(--accent-color);
  padding: 2rem 1rem;
  transition: right 0.3s ease; /* Animación al abrir/cerrar */
  z-index: 1001;
}

.sidebar.active {
  right: 0; /* Mostrar el slider */
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin-bottom: 1rem;
}

.sidebar ul li a {
  text-decoration: none;
  color: var(--text-color);
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: none;
}

#overlay.active {
  display: block;
}

/* Estilos para content-container */
.content-container {
  display: grid;
  grid-template-columns: 1.3fr 1.7fr; /* Dos columnas: chat-container (1fr) e info-boxes (2fr) */
  gap: 1rem; /* Espaciado entre columnas */
  padding: 1rem;
  align-items: start; /* Alinear los elementos al inicio verticalmente */
}

/* General: Asegurar que los contenedores sean flexibles */
.info-boxes {
  height: 454px;
  width: 100%;
  grid-column: 1.7; /* Ocupa la segunda columna */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajuste dinámico de columnas */
  gap: 1rem;
  padding: 1rem;
  background-color: var(--highlight);
  border: transparent;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos para info-boxes */
.info-box {
  border: 1px solid var(--highlight);
  color: var(--text-color);
  padding: 16px;
  border-radius: 8px;
  background-color: var(--accent-color);
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.info-box img {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
  margin-bottom: 8px;
}

.info-box a {
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
}

.info-box a:hover {
  text-decoration: underline;
}

/* Estilos para chat-container */
.chat-container {
  grid-column: 1.3; /* Ocupa la primera columna */
  width: 520px;
  max-height: 474px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 0.2rem; 

}

.chat-box {
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--highlight);
  border-radius: 8px;
  background-color: var(--highlight);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.chat-header {
  font-size: 1.2rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
  background-color: var(--accent-color);
  color: var(--text-color);
  border-radius: 6px;
}

.chat-messages {
  flex: 1;
  min-height: 300px;
  max-height: 290px; /* Altura máxima relativa a la ventana */
  padding: 1rem;
  border: 1px solid var(--highlight);
  border-radius: 8px;
  overflow-y: scroll; /* Habilitar scroll si es necesario */
  background-color: #f1f1f1;
}

.chat-messages::-webkit-scrollbar {
  width: 8px; /* Ancho del scrollbar */
}

.chat-messages h4 {
  margin: 0;
  padding: 4px;
  justify-content: center;
}

.chat-messages p {
  margin: 0;
  padding: 4px;
  justify-content: justify;
} 


.chat-input {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
  border-top: 1px solid #ccc;
  padding: 0.5rem;
}

.chat-input input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.chat-input button {
  padding: 0.5rem 1rem;
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: #8bbeb2;
  color: #000;
}

/* Estilos para el footer */
footer {
  text-align: center;
  padding: 0.5rem;
  background-color: var(--accent-color);
  color: var(--text-color);
  border-top: 1px solid var(--highlight);
  font-size: 0.9rem;
  position: relative; /* Asegura que no se superponga */
}

a {
  color: var(--text-color);
}

/* Media queries para tabletas (pantallas entre 481px y 768px) */
@media (max-width: 768px) {
  .content-container {
    grid-template-columns: 1fr; /* Cambiar a una sola columna */
    gap: 1rem;
  }

  .chat-container {
    grid-column: 1; /* Ocupa toda la fila */
    margin-left: 0; /* Eliminar margen izquierdo */
    min-height: 350px; /* Ajustar altura mínima */
    max-width: 440px; /* Ajustar ancho automáticamente */
  }

  .info-boxes {
    margin-top: 0.3rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Ajustar columnas dinámicamente */
    gap: 0.5rem;
  }

  .chat-header {
    font-size: .6rem; /* Reducir tamaño del texto */
    max-width: auto; /* Ajustar ancho automáticamente */
    padding: 0.5rem;
    margin-bottom: 0.5rem; /* Reducir margen inferior */
  }

  .chat-messages {
    max-height: 38vh; /* Ajustar altura máxima */
    font-size: 0.9rem; /* Reducir tamaño del texto */
    max-width: auto; /* Ajustar ancho automáticamente */
  }

  .chat-input {
    flex-direction: row; /* Cambiar a diseño en columna */
    gap: 0.5rem;
  }

  .chat-input input {
    width: 60%; /* Asegurar que el input ocupe todo el ancho */
  }

  .chat-input button {
    width: 20%; /* Botón ocupa todo el ancho */
  }
}

/* Media queries para móviles (pantallas de 480px o menos) */
@media (max-width: 480px) {
  .content-container {
    grid-template-columns: 1fr; /* Mantener una sola columna */
    gap: 0.5rem;

  }

  .chat-container {
    grid-column: 1; /* Ocupa toda la fila */
    min-height: 300px; /* Reducir altura mínima */
    max-width: 368px; /* Ajustar ancho automáticamente */
  }

  .info-boxes {
    grid-column: 1; /* Ocupa toda la fila */
    grid-template-columns: 1fr; /* Una sola columna */
    gap: 0.5rem;
  }

  .chat-header {
    font-size: 0.9rem; /* Reducir tamaño del texto */
    padding: 0.5rem;
  }

  .chat-messages {
    max-height: 35vh; /* Ajustar altura máxima */
    font-size: 0.8rem; /* Reducir tamaño del texto */
  }

  .chat-input {
    flex-direction: row; /* Mantener diseño en columna */
    width: 100%; /* Asegurar que el input ocupe todo el ancho */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between; /* Espaciado entre los elementos */
    gap: 0.5rem;
  }

  .chat-input input {
    width: 70%; /* Asegurar que el input ocupe todo el ancho */
  }

  .chat-input button {
    width: 21%; /* Botón ocupa todo el ancho */
    margin: 0; /* Sin margen */
  }

  footer {
    font-size: 0.8rem; /* Reducir tamaño del texto */
  }
}

/* Media queries para pantallas muy pequeñas (menores a 360px) */
@media (max-width: 360px) {
  .content-container {
    gap: 0.5rem; /* Reducir espaciado */
    padding: 0.5rem;
  }

  .chat-container {
    width: 100%; /* Ocupa todo el ancho disponible */
    padding: 0.5rem;
    min-height: 250px; /* Reducir altura mínima */
  }

  .info-boxes {
    grid-template-columns: 1fr; /* Una columna */
    gap: 0.5rem; /* Reducir espaciado */
    padding: 0.5rem;
  }

  .chat-header {
    font-size: 0.8rem; /* Reducir tamaño del texto */
    padding: 0.5rem;
  }

  .chat-messages {
    max-height: 30vh; /* Ajustar altura máxima */
    font-size: 0.7rem; /* Reducir tamaño del texto */
  }

  .chat-input {
    flex-direction: column; /* Mantener diseño en columna */
    gap: 0.5rem;
  }

  .chat-input input {
    width: 100%; /* Asegurar que el input ocupe todo el ancho */
  }

  .chat-input button {
    width: 100%; /* Botón ocupa todo el ancho */
  }

  footer {
    font-size: 0.7rem; /* Reducir tamaño del texto */
  }
}
