body {
    font-family: 'Arial';
    background-color: #8BBEB2;
    margin: 0;
    padding: 0;
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

header {
    background-color: #031926;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 6px;
    text-align: center;
}

header h1 {
    font-size: 30px;
    margin: 3px;
}   

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav button {
    background-color: #411306;
    height: 30px;
    width: 80px;
    margin: 5px;
    color: white;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: white;
}

nav button:hover {
    background-color: #76321f;
    transition: 0.5s ease;
    padding: 5px 10px;
    border-radius: 5px;
}

.content-container {
    background-color: #8BBEB2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}

.info-boxes {
    width: 55%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 16px;
}

.info-box {
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.info-box img {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    margin-bottom: 8px;
}

.info-box a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.info-box a:hover {
    text-decoration: underline;
}

.chat-container {
    width: 40%;
    max-height: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-top: 1px;
}

.chat-box {
    width: 100%;
    max-width: 600px;
    height: auto;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.chat-header {
    background-color: #031926;
    color: white;
    padding: 1px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.chat-messages {
    height: 300px;
    overflow-y: auto;
    /* padding: px; */
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.chat-input {
    display: flex;
    flex-direction: row; /* Cambiar a diseño en columna */
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: auto;
    border-top: 1px solid #ccc;
}

.chat-input input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.chat-input button {
    padding: 8px 16px;
    background-color: #031926;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: #8BBEB2;
    color: #000;
}

footer {
    background-color: #031926;
    color: white;
    text-align: center;
    font-size: 16px;
    display: flex;
    justify-content: center;    
}

footer p {
    margin-top: 8px;
}
/* chambonada pero es lo unico que se me ocurre para que no se vea tan feo el .chat-box cuando se minimiza la pantalla */
@media (max-width: 1007px) {

    

    .info-boxes {
        width: 60%;
        height: auto;
        padding: 8px;
    }

    .chat-messages {
        height: 215px;
    }

}


/* Media query para pantallas medianas */
@media (max-width: 768px) {
    .content-container {
        flex-direction: row;
        align-items: center;
        gap: 16px;
    }

    .info-boxes {
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Ajuste dinámico */
        padding: 8px;
    }

    .chat-container {
        width: 100%;
        max-height: 90vh;
        padding: 8px;
        order: -1;
    }

    .chat-box {
        max-width: 100%;
        height: 90%;
        padding: 10px;
    }

    .chat-header {
        font-size: 1em;
        padding: 8px;
    }

    .chat-messages {
        height: 150px;
        font-size: 0.9em;
    }

    .chat-input {
        flex-direction: row; /* Cambiar a diseño en columna */
        gap: 8px;
    }

    .chat-input input {
        width: 50%; /* Asegurar que el input ocupe todo el ancho */
    }

    #searchButton{
        width: 30%; /* Asegurar que el botón ocupe todo el ancho */
    }
}


/* Media query para pantallas pequeñas */
@media (max-width: 550px) {
    .info-boxes {
        grid-template-columns: 1fr; /* Una columna */
        padding: 8px;
    }

    .chat-container {
        width: 100%;
        padding: 8px;
    }

    .chat-box {
        max-width: 100%;
        padding: 8px;
    }

    .chat-header {
        font-size: 0.9em;
        padding: 6px;
    }

    .chat-messages {
        height: 250px;
        font-size: 0.8em;
    }

    .chat-input {
        flex-direction: row; /* Mantener diseño en columna */
        gap: 8px;
    }

    #showQueries{
        padding: 2%;
        width: 40px;
        text-align: center;

    }

    .chat-input input {
        width: 50%; /* Asegurar que el input ocupe todo el ancho */
    }

    #searchButton  {
        width: 30%; /* Asegurar que el botón ocupe todo el ancho */
    }

    footer {
        font-size: 12px;
    }
}

