body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #031926;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer {
    background-color: #031926;
    text-align: center;
    padding: 10px 0;
}