body {
    font-family: 'Arial', sans-serif;
    background-color: #8BBEB2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #031926;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer {
    background-color: #031926;
    color: white;
    text-align: center;
    padding: 10px 0;
}